body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #003300;
  font-size: 22px;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;

}
h1 {
  color: goldenrod;
  font-size: 28px;
}

#message-el {
  font-style: oblique;

}

button {
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  align-self: center;
  font-weight: bold;
  margin-bottom: 5px;


}
